<%- include('partials/header.ejs') %>
<%- include('partials/navigation.ejs') %>
        
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <h1>Fionn's Blog Web App</h1>
                                <p class="lead">Capstone Project #3</p>
                        </header>
                            <h2><%= (admin) ? 'Admin Area' : 'All Posts' %></h2>
                    </div><!-- ./ end div class col-md-12 -->
                        <article class="row">
                            <section class="col-lg-8">
                                <% if (posts.length) { %>
                                    <div class="row">                                                                       
                                        <% for(let post of posts) { %>
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h3 class="card-title"><%= post.title %></h3>
                                                            <p><img src="/images/img1.jpg" width="100%" /></p>
                                                                <p class="card-text"><%= post.description %></p>

                                                                    <% if (admin) { %>

                                                                        <div class="my-2 text-left d-flex justify-content-left">
                                                                            <a href="/posts/edit/<%= post.id %>" class="btn btn-primary mx-2">Edit</a>
                                                                                <form action="/posts/delete" method="post">
                                                                                    <input type="hidden" name="postId" value="<%= post.id %>">
                                                                                        <button class="btn btn-danger">Delete</button>
                                                                                </form>		
                                                                        </div><!-- ./ my-2 text-left d-flex justify-content-left -->

                                                                            <% } else {%>

                                                                        <div class="my-2 text-right d-flex justify-content-right">
                                                                            <a href="/post/details/<%= post.id %>" class="btn btn-primary mx-2">Read More</a>
                                                                        </div>

                                                                    <% } %><!-- end of if (admin) -->

                                                     </div><!-- end card -->
                                                </div><!-- end card body -->
                                            </div><!-- end col-md-12 -->
                                                     <hr style="margin-top: 8px;" />

                                        <% } %><!-- end for loop -->
                                <% } else { %>
                                
                                    <div>No Posts Available</div>       
                                            </div>
                                         </div>
                                    </div>
                                 </div>

                        <% } %><!-- end if (posts.length) -->

                            </section>
    <%- include('partials/sidebar.ejs') %>
                        </article>
                      </div><!-- ./ end main col-md-6 -->
                    </div><!-- ./ end main row -->
                  </div><!-- ./ end main container -->
        </main>
    <%- include('partials/footer.ejs') %>